<div class="footer">
    <div class="footer-link">
        <div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Activity</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li><a href="/">Api</a></li>
                <li><a href="/">Github</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-text">
        <p>All rights reserved by <a href="">@MoReza111</a></p>
    </div>
</div>